# CONFIGURACIÓN DE NOTIFICACIONES POR CORREO (SMTP GMAIL)
# Reemplazar con los datos correspondientes en el archivo .env real

REMITENTE=tu_correo_de_alertas@gmail.com
DESTINATARIO=correo_del_profesor@uc.edu.py
PASSWORD=tu_clave_de_aplicacion_de_16_letras
