# Ignorar el entorno virtual de Python
vhids/
__pycache__/
*.pyc

# Ignorar los logs de pruebas locales
logs/
*.log

# Archivos ocultos del sistema o del editor
.DS_Store
.vscode/

data/baseline.json
logs/events.log

# Credenciales y variables de entorno críticas
.env